# Our passwords and API keys
tokens.py
# Folder made for tokens.py
__pycache__/
# Folder made by PyCharm
.idea/
# Folder made by Vs Code
.vscode/
#Everything in Word Files folder
Word Files/*
#all debug log files
*.log